
.main{
    display: flex;
    flex-direction: row;
}

.inputoutput{
  margin: 5px;
  border: 1px black solid;
}

#imageSrc{
    height: 300px;
    width: 500px;
}

#canvasOutput{
    height: 300px;
    width: 500px;
}